<ion-header>
  <ion-toolbar>
    <ion-title>Mis mascotas</ion-title>
    <ion-buttons slot="end">
      <app-button (doClick)="profile()" value="Mi Perfil" color="tertiary"></app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(userPets$ | async)?.length; else noPets">
    <ion-item *ngFor="let pet of userPets$ | async" (click)="onEdit(pet)">
      <ion-label>
        <h2>{{ pet.name }}</h2>
        <p>Edad: {{ pet.age }} años</p>
        <p>Raza: {{ pet.breed }}</p>
      </ion-label>
      <ion-button
      (click)="onViewVaccines($event, pet)">Ver vacunas
      <ion-icon name="bandage-outline" size="large"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noPets>
    <p>No tienes mascotas registradas.</p>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBack()" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
