<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <app-button (doClick)="logOut()" value="Salir" color="danger"></app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <form [formGroup]="profileForm">
            <ion-row>
              <ion-col>
                <app-avatar [control]="image"></app-avatar>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-input [control]="name" label="Nombre" type="text" [disable]="isDisabled"></app-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-input [control]="lastName" label="Apellido" type="text" [disable]="isDisabled"></app-input>
              </ion-col>
            </ion-row >
            <ion-row>
              <ion-col>
                <app-input  label="Email" type="email" [disable]="isDisabled"></app-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-input label="Edad" type="number" [disable]="isDisabled"></app-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <app-input label="Celular" type="number" [disable]="isDisabled"></app-input>
              </ion-col>
            </ion-row>
          </form>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-button (doClick)="update()" value="Actualizar" color="success"></app-button>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBack()" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
