<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="id ? doUpdate() : doRegister()">
        <ion-row>
          <ion-col>
            <app-avatar [control]="image"></app-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="name" label="Nombre" type="text"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="lastName" label="Apellido" type="text"></app-input>
          </ion-col>
        </ion-row >
        <ion-row>
          <ion-col>
            <app-input [control]="email" label="Correo" type="email" [disable]="isDisabled"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="password" label="Contraseña" type="password" [disable]="isDisabled"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="age" label="Edad" type="number"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input [control]="phone" label="Teléfono" type="number"></app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-button [disable]="registerForm.invalid" value="Ok" type="submit"></app-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBack()" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
