<ion-header>
  <ion-toolbar>
    <ion-title>Mascotips</ion-title>
    <ion-buttons slot="end">
      <app-button (doClick)="profile()" value="Mi Perfil" color="tertiary"></app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a mascotips</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Explora nuestras funciones y servicios desde aquí.</p>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card button (click)="goToPetList()">
            <ion-card-header>
              <ion-card-title>Ver Mascotas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="paw" size="large"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card button (click)="goToPetForm()">
            <ion-card-header>
              <ion-card-title>Registrar Mascota</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="add-circle" size="large"></ion-icon>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
