<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vacunas</ion-title>
    <ion-buttons slot="end">
      <app-button (doClick)="profile()" value="Mi Perfil" color="tertiary"></app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vacunas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-between ion-padding">
      <ion-col size="6">
        <ion-button expand="full" color="primary" (click)="onAddVaccine()">
          Agregar Vacuna
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="vaccines.length > 0">
    <ion-item *ngFor="let vaccine of vaccines; let i = index">
      <ion-label>
        <h2>{{ vaccine.name }}</h2>
        <p>Fecha: {{ vaccine.applicationDate | date }}</p>
      </ion-label>
      <ion-button fill="clear" color="secondary" (click)="onEditVaccine(i)">
        Editar
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="onDeleteVaccine(i)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="vaccines.length === 0">
    <p class="ion-text-center">No hay vacunas registradas.</p>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBack()" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
