<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vaccine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vaccine</ion-title>
      <ion-col size="6">
        <ion-button (click)="goToVaccinePage()">Agregar Vacuna</ion-button>
             
            <ion-icon name="add-circle" size="large"></ion-icon>


            <ion-content [fullscreen]="true">
             
              <app-vaccine-component (vaccineAdded)="addVaccine($event)"></app-vaccine-component>
            
              <ion-list>
               
                <ion-item *ngFor="let vaccine of vaccines">
                  <ion-label>{{ vaccine.name }} - {{ vaccine.date }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
        
      </ion-col>
    </ion-toolbar>
  </ion-header>
</ion-content>
