.home-container {
  padding: 20px;
}

ion-card {
  margin-bottom: 20px;
}

ion-card-header {
  text-align: center;
}

ion-card-content {
  text-align: center;
}

ion-grid {
  margin-top: 20px;
}

ion-icon {
  margin-top: 10px;
}
